# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Kaggle API credentials
kaggle.json

# Dataset archives
*.zip
*.tar.gz

# OS files
.DS_Store
Thumbs.db
